/*
 * Navigation
 */

// TODO variables

$off-canvas-width = 200px



nav
  position: fixed
  top: 0.7em
  right: 1em
  z-index: 5

  & ul

    .plain-list
    float: left

    & > li

      display: inline-block
      vertical-align: top
      margin: 0 0.2em

      & a
        display: block
        padding: 0.5em
        text-transform: lowercase

        &:hover
          text-decoration: none


      //second level
      & > ul
        float: none
        position: absolute
        left: -9999em
        width: 250px
        background: $grey

        opacity(0)
        transition(opacity $transition-seconds ease)

        z-index: 10

        & > li
          display: block


      &:hover
        & > a
          color: $copy-color
        & > ul
          left: auto
          opacity(1)



[id=nav-trigger]
  // never show this; this is only for representing mobile nav state
  position: absolute
  right: 10000em


label[for="nav-trigger"]
  // mobile only
  right: -32px



/*
 * Mobile/tablet nav
 */



+small()
  nav
    width: $off-canvas-width
    height: 100%
    top: $header-height-mobile
    right: -$off-canvas-width
    left: auto bottom: auto
    padding: $margin-regular
    background: $black
    z-index: $z-index-below-siblings

    & ul
      float: none

      & > li
        display: block



  label[for="nav-trigger"]
    display: block
    position: absolute
    top: $margin-regular
    right: $margin-regular
    cursor: pointer
    margin: 0 auto 5px
    width: 32px
    height: 21px

    & > span
      display: block
      width: 100%
      height: 3px
      margin-bottom: 6px
      background: $highlight-color
      transition(all $transition-seconds ease)

    &:hover > span
      background: $copy-color

    [id=nav-trigger]:checked + &
      // nav-trigger label inside an active (checked) #nav-trigger

      rotate(-45deg)

      & span
        &:first-of-type
          translateY(11px)
        &:nth-of-type(2)
          opacity(0)
        // TODO rotate/translate literal
        &:last-of-type
          transform(rotate(-90deg) translateX(7px))


      // Show the nav!
      & + nav
        right: 0



[id=nav-trigger]:checked + label + nav
  +small()
    box-shadow: 0 0 282px 94px $black, -300px 0 200px 170px $darger-grey


  +xsmall()
    box-shadow: 0 0 100px 50px $black, -100px 0 200px 170px $darger-grey



