/*
 * Colors
 */

$grey = #666
$light-grey = #bbb
$lighter-grey = #ddd
$dark-grey = #555
$darker-grey = #333

$primary-color = #800
$bg-color = #fff

$text-color = $darker-grey
$link-color = $primary-color
$headings-color = $primary-color

$input-color = $text-color
$input-border-focus = $primary-color
$input-color-placeholder = $text-color

