/*
 * Colors
 */

$grey = #666
$light-grey = #bbb
$lighter-grey = #ddd
$dark-grey = #555
$darker-grey = #333

$white = #fff
$black = #000

$main-color = #ce4c4c
$bg-color = rgba(255,206,251,0.702)

$highlight-color = #ff6016
$error-color = #f04400
$success-color = #2183b9

$secondary-color = #730
$secondary-bg-color = #200

$text-color = $main-color
$link-color = $main-color
$headings-color = $main-color

$input-color = $text-color
$input-border-focus = $main-color
$input-color-placeholder = $text-color

body
  background: $bg-color

