/*
 * Layout
 */

$font-size = 16px
$heading-font = "helvetica neue", sans-serif
$copy-font = "Palatino", serif


$margin-regular = 0.7em
$margin-wide = 1.4em


*
  color: $text-color
  font-size: $font-size
  font-family: $heading-font

section, article, aside,
p, span, a, b, ul, li, table, tr, td, samp, q, sub, sup, label,
strong, em, big, small, tt, abbr, acronym, cite, dfn
  font-family: $copy-font

h1
  font-size: 3em

h2
  font-size: 2.5em

h3
  font-size: 2em

h4
  font-size: 1.7em

h5
  font-size: 1.5em

h6
  font-size: 1.2em


