/*
 * Utilities
 */


$transition-seconds = 0.3s

$z-index-top = 100
$z-index-bottom = 0
$z-index-below-siblings = -1


clearfix()
  &:before,
  &:after
    content: " ";
    display: table;

  &:after
    clear: both;

striped(even = $bg-color, odd = $lighter-grey)
  &:nth-child(odd)
    background-color: odd
  &:nth-child(even)
    background-color: even

striped-table(even = $bg-color, odd = $lighter-grey)
  tr
    striped()

opacity()
  // TODO

transition()
  // TODO

tranform()
  // TODO

translate()
  // TODO

translateX()
  // TODO

translateY()
  // TODO

rotate()
  // TODO

